
/*header*/

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    min-height: 293px;
    padding: 0;
}


.nav_list {
    display: flex;
    gap: 32px;
    list-style-type: none;
    padding-left: 50px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 21.13px;

}

.nav_item {
    font-size: 18px;
    list-style-type: circle;
}

.nav_item_no_dot {
    font-size: 18px;
    list-style-type: none;
}

.nav_item_underline {
    text-decoration: underline;
}

.nav_item_not_underline {
    text-decoration: none;
}

.header_contacts {
    justify-self: end;
    text-align: left;
    width: 290px;
    font-size: 18px;
    line-height: 24.3px;
    font-weight: 400;
    font-family: "Raleway", sans-serif;
}

.header_contact {
    text-decoration: none;

}

.header_contact_link {
    text-decoration: underline;
}

.header_logo {
    display: block;
    width: 148px;
    height: 105;
}

.header_logo_image {
    padding: 7px 7px;
}

/*cover*/

.cover {
    position: relative;
    z-index: 0;
    width: 100%;
    min-height: 757px;
    background: url('../images/cover.jpg') no-repeat center center;
    background-size: cover;
}

.cover_title {
    font-size: 100px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    text-transform:  uppercase;
    padding: 165px 50px 0px;
    line-height: 130px;
    color: #FFFFFF;
    height: 385px;
    letter-spacing: 0.3em;
    display: flex;
    flex-direction: column;
}

.cover_title_aligned_text_center {
    text-align: center;
    
}

.cover_title_aligned_text_right {
    display: block;
    text-align: right;
}

.cover_title_aligned_text {
    text-align: left;
}

.cover_description {
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    color: #FFFFFF;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding: 106px 50px 0 50px;
}

.cover_description_text {
    line-height: 28px;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 0.9em;
    letter-spacing: 90%;
}

.cover_description_button {
    display: inline-block;
    padding: 12px 32px 11px 31px;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 1);
    background-color: transparent;
    color: #FFFFFF;
}

.overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.6;
    
}

/*lots*/

.lots {
    padding: 0 24px;
    margin-top: 180px;
}

.lots_title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    text-transform: uppercase;
    padding-left: 40px;
}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
    background-size: cover;
    background-position: bottom;
}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
    background-size: cover;
    background-position: bottom;
}

.card_type_art {
    background-image: url('../images/card-lot-03.jpg');
    background-size: cover;
    background-position: bottom;
}

.card_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    z-index: 0;
}

.card_title {
    font-family: "Raleway", sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 48px 40px 0px;
    text-decoration: underline;
}

.card_text {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    padding: 0px 40px 48px;
    color: #FFFFFF;
    text-decoration: none;
}

.lots_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    list-style-type: none;
    margin-top: 27px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
}

.card_item {
    width: 334px;
    height: 596px;
}

.card_link {
    text-decoration: none;
}

.lots_see_more {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-left: 40px;;
}

/*about*/
.about {
    display: grid;
    grid-template-columns: 334px 1fr;
    box-sizing: border-box;
    min-height: 595px;
    margin-top: 120px;
     padding: 0 24px;
}

.about_logo {
    width: 240px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 360px;
}

.about_logo_image {
    width: 136px;
    height: 102px;
}

.about_title {
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: bold;
    margin-bottom: 100px;
}

.about_description {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 133px;
    justify-self: end;
    width: 693px;
    letter-spacing: 0;
}

.about_text {
    margin-bottom: 24px;
    text-align: left;
}

.about_text_bottom {
    margin-bottom: 0;
}

/*footer*/
.footer {
    height: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    margin-top: 180px;
}
.footer_contacts {
    text-align: left;
}

.footer_list {
    text-align: center;
    list-style-type: none;
}

.footer_item_not_underline {
    text-decoration: none;
}

.footer_item_underline {
    text-decoration: underline;
}

.social_media_list {
    display: flex;
    justify-content: flex-end;
    gap: 48px;
    list-style: none;
}

.social_media_item {
    list-style-type: none;
}

.social_media_icon {
    width: 48px;
    height: 48px;
    display: block;
}